header{
    height: 200px;
    background-color: aqua;
}

.div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

button{
    width: 250px;
    height: 70px;
    font-size: 30px;
    border-radius: 3px;
    border-style: double;

}
.light{
    background-color: black;
    color: white;
}
.dark{
    background-color: white;
    color: black;
}