@font-face {
	font-family: 'Exo_r'; 
	src: url(fonts/Exo-Regular.ttf); 
}

@font-face {
	font-family: 'Exo_r_i'; 
	src: url(fonts/Exo-Italic.ttf); 
}

@font-face {
	font-family: 'Exo_m'; 
	src: url(fonts/Exo-Medium.ttf); 
}

@font-face {
	font-family: 'Exo_t'; 
	src: url(fonts/Exo-Thin.ttf); 
}

body{
    display: block;
    margin: 0 ;
    padding: 0;
    border: 0;
}

div.odin{
    background: url(1.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 820px; 
    text-align: center;
    margin: 0;
    font-family: 'Exo_t';
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #282828;
}
.odin1 {
    display: flex;
    width: 60%;
}
.odin2{
    flex-direction: column;
}
/*
.odin1 *{
    margin: 0;
}
*/
div.odin p{
    font-family: 'Exo_r';
    font-size: 14px;
    color: #868789;
}
div.odin h1{
    margin-top: 0;
}
div.dva{
    display: flex;
    height: 720px;
}
div.dva2{
    background-image: url(2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 720px; 
    margin: 0 auto;
}
div.tri{
    background-image: url(3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 675px; 
    margin-top: 0;
    text-align: center;
}
div.tri0{
    height: 30%;
}
div.tri123{
    display: flex;
    height: 70%;
    align-items: center;
}
div.four{
    background-image: url(4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 5%;
    width: 100%;
    display: flex;
    height: 550px;
}
div.four1{
    display: flex;
    height: 550px;
    width: 60%;
}
div.four2{
    width: 40%;
}
.k{
    align-self: center;
    margin: 0 auto;
}
div.five{
    background-image: url(6.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 650px; 
    margin: 0 auto;

}
div.five123{
    display: flex;
    align-items: center;
    text-align: center;
}
div.five4{
    display: flex;
    justify-content: space-evenly;
}
div.six{
    height: 755px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div.six1{
    align-self: flex-end;
}
div.seven{
    background-image: url(8.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 465px; 
    margin: 0 auto;
}
footer{
    display: flex;
    height: 332px;
}
.red{
    color: red;
}
h1{
    margin-top: 0;
}
p{
    margin-top: 0;
}