@media (min-width: 768px) and (max-width: 1200px){
body {
    color:black;
    background-color:bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    width: 100%;
    margin: 0 auto;
}
nav{
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    background-color:black;
    color: bisque;
}
nav ul{
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: bisque;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}
ul li{
    font-family: fantasy;
    display: flex;
    flex-direction:row ;
    justify-content: flex-start;
}
ul li a{
    color: bisque;
    display: flex;
    height: 50px;
    padding: 0;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 50px;
    flex-direction: row;
}
ul li a:hover{
    background-color: black;
    color: bisque;
}
.content{
    display: flex;
    justify-content: right;
    color:black;
    text-align: center;
    font-family: fantasy;
}
}